.Layout {
    height: 100vh;
    display: flex;
}

.MenuOpen {
    flex: 0.7;
    background-color:white; 
    z-index: 2;
    box-shadow: 0.1em 0 0.4em 0 #C2CFE0;  
}

.closeMenu{
    flex: 0.1;
    background-color:white; 
    z-index: 2;
    box-shadow: 0.1em 0 0.4em 0 #C2CFE0;  
}

.WithoutMenu {
    flex: 4;
    display: flex;
    flex-direction: column;
}
.Layout main {
    flex: 9;
}

.Layout input{
    flex: 1;
}
.Layout input, .Layout form button {
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    height: 2.4em;
    align-items: center;
}

.Layout form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.7em;
}

.Layout form i {
    padding: 0.5em 0.5em 0.5em 1.5em;
    color: #C2CFE0;
    font-size: 1.2em;
}

.Layout form img {
    padding: 0.5em 1.5em 0.5em 0.5em;
    color: #C2CFE0;
    font-size: 1.2em;
}

.Link {
    display: flex;
    align-items: center;
}


@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v22/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }